/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

header {background-color: #add3a3; color:black;}  
header.resourcePageHeader{background-color: #f7f1cf;}
main {background-color:#f7f1cf; color:black;} 
div.card {background-color: #f7f1cf; color:black;}
footer {background-color: #add3a3; color:black; height: 2rem; position: fixed; bottom: 0; width: 100%;}   

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f1cf;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.resource{
  cursor: pointer;
}
.resource:hover{
  box-shadow: 4px 8px 8px 0 rgba(0,0,0,0.2);
}
.circImg {border-radius: 50%;}

.card {border: none;}

.VisualizationPage {text-align: center;}

nav {
  background-color: #add3a3;
}

ul > li {
  float: left;
  margin-right: 1rem;
  display: inline; 
}

nav > ul {
  margin: 0;
  padding: 0;
  padding-bottom: .5rem;
  padding-top: .5rem;
  display: inline-block;
}


nav a {
  color: black;
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: .5em;
  text-decoration: none;
}

@media screen and (min-device-width : 321px) and (max-device-width : 480px) {
  nav a {
    font-size: 0.9rem;
    margin-right: 0em;
  }
  nav > ul{
    display: flex;
    justify-content: center;
  }

}
@media screen and (min-device-width : 150px) and (max-device-width : 320px) {
  nav a {
    font-size: 0.8rem;
    margin-right: 0em;
  }

  nav > ul{
    display: flex;
    justify-content: center;
  }

}

.canvas{
  display: block;
}


#datasource{
  color: #202124
}

li.homeIcon {
  margin-left: 2rem;
}

.white-background {
  background-color: white;
}

.content-top{
  margin-top:20px
}

.viz-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.log-btn{

  margin-bottom: 40px;
  align-self:center;
}

h2 {
  padding-top: 2rem;
  font-weight: bold;
}

h1 {
  font-weight: bolder;
}

h1, h2 {
  text-align: center;
}

h3 {
  font-weight: bolder;
}

thead th{
  cursor: default !important;
  background: #add3a3!important
}

.footer-text{
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 500;
}

.bar{
  width: 100%;
}

.last-card{
  padding-bottom: 40px;
}

.note {
  font-style: italic;
  color: #808080;
  font-size: 14px;
}

.circImg {
max-width: 100%;
}

.log-btn {
  text-align: center;
}

/* (Default Screen) - 576px and below */

/* Images */
img.card-img-top { width: 100%; height: 25%; } 

/* --------------------------------------------------------------------------------------------------------------------------- */
/* (Small Screen) - 576px and up */


/* --------------------------------------------------------------------------------------------------------------------------- */
/* (Medium Screen) - 768px and up */


/* --------------------------------------------------------------------------------------------------------------------------- */
/* (Large Screen) - 992px and up */


/* --------------------------------------------------------------------------------------------------------------------------- */
/* (Extra-Large Screen) - 1200px and up */
